#pc-designtool-box {
  display: none;
}

#pc-designtool-box.active {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: 999999;
  background: rgba(90, 90, 90, 0.7);
}

.pc-close-iframe {
  position: fixed;
  top: 18px;
  left: 20px;
  cursor: pointer;
}

.pc-designtool {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a.pc-connect-dashboard {
  color: #ffffff;
  text-decoration: none;
}
a.pc-connect-dashboard:hover {
  color: #ffffff;
}

#printcart-design .printcart-logo {
  height: 60px;
  margin-bottom: 20px;
}
#printcart-design {
  margin: 0 auto;
  text-align: center;
  max-width: 45rem;
  padding: 1.5rem;
}
#printcart-design .printcart-box {
  box-sizing: border-box;
  background: white;
  border: 1px solid rgba(200, 215, 225, 0.5);
  padding: 16px;
  margin-bottom: 16px;
}
#printcart-design .printcart-box .manually-key {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#printcart-design .manually-key {
  text-align: left;
}
#printcart-design .printcart-setup-instructions h1 {
  padding: 10px;
}
#printcart-design .pc-button-dashboard {
  padding: 4px 20px;
}
#printcart-design .pc-button-primary {
  background-color: #2f7bf8;
}
#printcart-design .pc-action-wrap {
  text-align: left;
}
.printcart-connected-wrap {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.printcart-connected-wrap svg {
  height: 16px;
  width: 16px;
}
.printcart-connected-text {
  margin-left: 4px;
}
.pc-product-table .tablenav {
  display: none;
}

.pc-product-table .tablenav.show {
  display: block;
}
.pc-table td {
  text-align: left;
}
.printcart-nan {
  color: red;
  font-weight: 600;
}
.printcart-account-tier,
.printcart-account-name {
  text-transform: capitalize;
}

.pc-order-status {
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin: -0.25em 0;
  cursor: inherit !important;
  white-space: nowrap;
  max-width: 100%;
  line-height: 2.5em;
}
.pc-order-status > span {
  margin-left: 12px;
  margin-right: 12px;
}
.pc-status-success {
  background-color: #d1fae5 !important;
  color: #065f46 !important;
}
.pc-status-warning {
  background-color: #fef3c7 !important;
  color: #92400e !important;
}
.pc-status-primary {
  background-color: #dbeafe !important;
  color: #1e40af !important;
}
.pc-status-secondary {
  background-color: #f3f4f6 !important;
  color: #1f2937 !important;
}
.pc-status-danger {
  background-color: #fee2e2 !important;
  color: #991b1b !important;
}

.printcart-container .postbox {
  background: #fff;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border: none;
}
.printcart-container .postbox h3 {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  margin: 0;
}
.pc-admin-line-height {
  line-height: 20px;
}
.printcart-right {
  float: right;
}
.printcart_art_link {
  position: relative;
  height: 145px;
  width: 145px;
  border-radius: 2px;
  padding: 5px;
  display: inline-block;
  margin: 0px 5px 10px 0;
  overflow: hidden;
  background: #ededed;
  border: none;
}
.printcart_art_link img {
  max-width: 100%;
  max-height: 100%;
}
.printcart-list .tablenav-pages span.pagination-links > a,
.printcart-list .tablenav-pages span.pagination-links > span {
  margin-right: 3px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
}
.printcart-manager-product .prev-page,
.printcart-manager-product .next-page,
.printcart-list .prev-page,
.printcart-list .next-page {
  display: inline-block;
  min-width: 17px;
  border: 1px solid #ccc;
  padding: 3px 5px 7px;
  background: #e5e5e5;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
